<div class="paralax_page caller_page">
  <div class="container tall_boy">
    <div class="row tall_boy">
      <div class="col-md-7 middle_man tall_boy">
        <div class="">
          <span class="oversized_heading">{{apiValues[0]}} <br /> {{apiValues[1]}}</span> <br />
          <button class="blue_btn btn-lg">MAKE PAYMENT</button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="paralax_page latest_page">
  <div class="container tall_boy">
    <div class="tall_boy middle_man">
      <div class="latest_content" >
        <div class="centerize blue_it">
          <h4>{{apiValues[2]}}</h4>
        </div>
        <div class="centerize">
          <h3>{{apiValues[3]}}</h3>
        </div>
        <div class="blue_dash centerize"></div>
        <div class="centerize personal_space">
          {{apiValues[4]}}
        </div>
        <div><iframe width="660" height="420" src="https://www.youtube.com/embed/ugymaUOM_Pk" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe></div>
      </div>
    </div>
  </div>
</div>
<div class="paralax_page workout_page">
  <div class="workout_page_container tall_boy gradient_white_right">
    <div class="container tall_boy">
      <div class="row tall_boy">
        <div class="col-md-5"></div>
        <div class="col-md-7 tall_boy middle_man">
          <div>
            <div class="blue_it">
              <h4>{{apiValues[5]}}</h4>
            </div>
            <div class="white_line personal_space"></div>
            <div>
              <h3>{{apiValues[6]}}</h3>
            </div>
            <div class="blue_dash personal_space"></div>
            <div>
              <p>{{apiValues[7]}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="paralax_page contact_page">
  <div class="tall_boy middle_man">
    <div class="container">
      <div class="row">
          <div class="centerize">
            <div class="centerize blue_it">
              <h4>{{apiValues[8]}}</h4>
            </div>
            <div class="centerize">
              <h3>{{apiValues[9]}}</h3>
            </div>
            <div class="blue_dash centerize"></div>
            <div class="centerize personal_space">
              {{apiValues[10]}}
            </div>
          </div>
      </div>
      <div class="row compressor">
        <div class="col-md-6">
          <input class="fat_boy slim personal_space paraform" type="text" name="name" value="" placeholder="Name" />
          <input class="fat_boy slim personal_space paraform" type="text" name="namphonee" value="" placeholder="Phone" />
        </div>
        <div class="col-md-6">
          <input class="fat_boy slim personal_space paraform" type="text" name="email" value="" placeholder="Email" />
          <input class="fat_boy slim personal_space paraform" type="text" name="Subject" value="" placeholder="Subject" />
        </div>
      </div>
      <div class="row compressor">
        <div class="col-md-12">
          <textarea class="fat_boy slim personal_space paraform" type="text" name="email" value="" placeholder="Email" rows="7"></textarea>
          <button class="blue_btn btn-lg personal_space slim fat_boy">Submit</button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="paralax_page pay_page">
  <div class="smoke_screen tall_boy fat_boy">
    <div class="container tall_boy">
      <div class="row tall_boy middle_man">
        <div class="centerize white_out">
          <div class="centerize">
            <h4>{{apiValues[12]}}</h4>
          </div>
          <div class="blue_dash centerize personal_space"></div>
          <div class="centerize_text">
            <p class="centerize">{{apiValues[13]}} <br /> {{apiValues[14]}} </p>
          </div>
          <div class="centerize personal_space">
            <button class="orange_btn btn-lg">MAKE PAYMENT</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="paralax_page map_page">
    <div class="row tall_boy">
      <div class="col-md-6 tall_boy middle_man">
        <div class="fat_boy slim compressor">
          <div>
            <h4>{{apiValues[15]}}</h4>
          </div>
          <div class="blue_dash personal_space"></div>
          <div class="personal_space">
            <p>{{apiValues[15]}}</p>
          </div>
          <div>
            <h4><span class="blue_it"><i class="fas fa-phone"></i></span>  {{apiValues[16]}}</h4>
          </div>
          <div>
            <h4><span class="blue_it"><i class="fas fa-map-pin"></i></span>  {{apiValues[17]}}</h4>
          </div>
        </div>
      </div>
      <div class=" col-md-6">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3026.291402647054!2d-111.82471868414649!3d40.66754787933675!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x87526227cab1e2ef%3A0x7a4a7d4b70111920!2s4725+Holladay+Blvd+E%2C+Holladay%2C+UT+84117!5e0!3m2!1sen!2sus!4v1518792859321" frameborder="0" style="border:0" allowfullscreen></iframe>
      </div>
    </div>
</div>
