<div class="paralax_page caller_page">
  <div class="container tall_boy">
    <div class="row tall_boy">
      <div class="col-md-7 middle_man tall_boy">
        <div class="">
          <span class="oversized_heading">REAL SOLUTIONS <br /> FOR GYMS MEMBERS</span> <br />
          <button class="blue_btn btn-lg">MAKE PAYMENT</button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="paralax_page latest_page">

</div>
<div class="paralax_page workout_page">

</div>
<div class="paralax_page contact_page">

</div>
<div class="paralax_page pay_page">

</div>
<div class="paralax_page map_page">

</div>
