<div class="paralax_page caller_page">
  <div class="container tall_boy">
    <div class="row tall_boy">
      <div class="col-md-7 middle_man tall_boy">
        <div class="">
          <span class="oversized_heading">{{apiValues[0]}} <br /> {{apiValues[1]}}</span> <br />
          <button class="blue_btn btn-lg">MAKE PAYMENT</button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="paralax_page latest_page">
  <div class="container tall_boy">
    <div class="tall_boy middle_man">
      <div class="latest_content" >
        <div class="centerize blue_it">
          <h4>{{apiValues[2]}}</h4>
        </div>
        <div class="centerize">
          <h3>{{apiValues[3]}}</h3>
        </div>
        <div class="blue_dash centerize"></div>
        <div class="centerize personal_space">
          {{apiValues[4]}}
        </div>
        <div><iframe width="660" height="420" src="https://www.youtube.com/embed/ugymaUOM_Pk" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe></div>
      </div>
    </div>
  </div>
</div>
<div class="paralax_page workout_page">
  <div class="workout_page_container tall_boy gradient_white_right">
    <div class="container tall_boy">
      <div class="row tall_boy">
        <div class="col-md-5"></div>
        <div class="col-md-7 tall_boy middle_man">
          <div>
            <div class="blue_it">
              <h4>{{apiValues[5]}}</h4>
            </div>
            <div class="white_line personal_space"></div>
            <div>
              <h3>{{apiValues[6]}}</h3>
            </div>
            <div class="blue_dash personal_space"></div>
            <div>
              <p>{{apiValues[7]}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="paralax_page contact_page">

</div>
<div class="paralax_page pay_page">

</div>
<div class="paralax_page map_page">

</div>
