/* You can add global styles to this file, and also import other style files */

/* Diagnistic classes*/
.showme1 {
  background-color: red;
  border:dashed 2px green;
}

.showme2 {
  background-color: gray;
  border: dashed 2px purple;
}

.showme3 {
  background-color: yellow;
  border: dashed 2px brown;
}

/* Diagnistic classes end*/

.nav_row {
  padding-top: 15px;
  padding-bottom: 15px;
}

.nav_logo {
  height: 45px;
}

.nav_links_div {
  display: flex;
  align-items: center;
  justify-content: space-around;
}


  .nav_links_div div span {
    color: #1669c7;
  }

  .paralax_page {
    width: 100%;
    height: 100vh;
    max-height: 600px;
    min-height: 300px;
  }

  /*Caller page start*/
.caller_page {
  background-image: url('https://picsum.photos/2000/1600');
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.oversized_heading {
  font-family: 'Anton', sans-serif;
  color: white;
  font-size: 4em;
}

/*Caller page end*/
/*latest page start*/
.latest_page {
  background-color: white;
}

.blue_dash {
  width: 45px !important;
  height: 3px;
  background-color: #1669c7;
}

/*latest page end*/
.workout_page {
  background-image: url('https://picsum.photos/2000/1500');
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.white_line {
  height: 1px;
  background-color: white;
  width: 100%;
}

.gradient_white_right {
  background: linear-gradient(to right, rgba(255,255,255, 0), rgba(255,255,255, 1));
}

.contact_page {
  background-color: white;
}

.pay_page {
  background-image: url('https://picsum.photos/2000/1601');
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.map_page {
  background-color: white;
}

/*Universal*/

.blue_btn {
  background-color: #1669c7;
  color: white;
  font-weight: 700;
  border: solid 1px #1669c7;
  padding-top: 10px;
  padding-bottom: 10px;
}

.orange_btn {
  background-color:darkorange;
  color: white;
  font-weight: 700;
  border: solid 1px darkorange;
  padding-top: 10px;
  padding-bottom: 10px;
  width:250px;
  margin: auto;
}

/*Universal addons*/
.middle_man {
  display: flex;
  align-items: center;
  justify-content: center;
}

.tall_boy {
  height: 100%;
}

.fat_boy {
  width:100%
}

.slim {
  margin-left: 20px;
  margin-right: 20px;
}

.centerize {
  margin: auto;
  width: fit-content;
}

.centerize_text {
  text-align:center;
}

.blue_it {
  color: #1669c7;
}

.personal_space {
  margin-bottom: 15px;
  margin-top: 15px;
}

.paraform {
  border: solid grey 1px;
  border-bottom-width: 2px;
  border-right-width: 2px;
  padding:8px;
}

.compressor {
  padding-left: 60px;
  padding-right: 60px;
}

.white_out {
  color: white;
}

.smoke_screen {
  background: rgba(0,0,0,0.3);
}
